.container {
  display: flex;
  flex-direction: row;
  /* word-wrap: wrap; */
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  /* gap: 5px; */
  width: 100vw;
}

.sidenav,
.content {
  min-height: 100vh;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 15px;
}

.sidenav {
  background-color: var(--side-bar-color);
  color: var(--primary-color);
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: -500px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 1.2rem;
  transition: all 0.5s;
  z-index: 10;
}

/* .sidenav:hover{
      width: 10vw;
  } */

.sidenav .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  height: 100%;
}

/* .sidenav .menu::after{
    content: '';
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    margin-top: 15px;
  } */

.sidenav .menu .website-name {
  font-size: 0rem;
  color: var(--content-color);
  transition: all 0.5s;
}

.sidenav .menu .website-name:hover {
  color: var(--top-bar-color);
  transform: scale(1.2);
}

.sidenav .menu .website-name .char {
  font-size: 1.7rem !important;
  /* color: red; */
  padding: 0;
  margin: 0;
  animation: changecolor 6s ease-out 0s infinite alternate both;
}

.sidenav .menu .website-name .char:nth-child(1) {
  animation-delay: 0.25s !important;
}
.sidenav .menu .website-name .char:nth-child(2) {
  animation-delay: 0.5s !important;
}
.sidenav .menu .website-name .char:nth-child(3) {
  animation-delay: 0.75s !important;
}
.sidenav .menu .website-name .char:nth-child(4) {
  animation-delay: 1s !important;
}
.sidenav .menu .website-name .char:nth-child(5) {
  animation-delay: 1.25s !important;
}
.sidenav .menu .website-name .char:nth-child(6) {
  animation-delay: 1.5s !important;
}
.sidenav .menu .website-name .char:nth-child(7) {
  animation-delay: 1.75s !important;
}
.sidenav .menu .website-name .char:nth-child(8) {
  animation-delay: 2s !important;
}
.sidenav .menu .website-name .char:nth-child(9) {
  animation-delay: 2.25s !important;
}

@keyframes changecolor {
  from {
    color: var(--primary-color);
  }
  to {
    color: var(--secondary-color);
  }
}

.single-menu{
  background-color: var(--side-bar-color);
}

.sidenav .menu a.single-menu {
  padding: 5px;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  text-align: right;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30vw;
}

.sidenav .menu a:hover {
  background-color: var(--content-color);
}

.sidenav .menu .dropdown-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--side-bar-color);
  color: var(--primary-color);
  /* border: none; */
  /* outline: none; */
  /* align-self: flex-start; */
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
}

.sidenav .menu .dropdown-btn .drowpdown-icon {
  /* transform: rotate(90deg); */
  transition: all 0.5s;
}

.sidenav .menu .dropdown-menu {
  /* display: none; */
  display: flex;
  flex-direction: column;
  height: 0px;
  /* max-height: 300px; */
  overflow: hidden;
  transition: all 0.5s;
  margin-top: 0.3rem;
  gap: 3px;
}

.sidenav .menu .dropdown-menu a {
  padding: 5px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
}

.sidenav .menu .dropdown-menu a:hover {
  background-color: var(--content-color);
  /* border: 1px solid white; */
}

.active {
  background-color: var(--content-color) !important;
  color: var(--primary-color) !important;
}

.header-content-wrapper {
  background-color: var(--content-color);
  color: var(--primary-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header {
  background-color: var(--top-bar-color);
  color: var(--primary-color);
  width: 100%;
  min-height: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  color: var(--secondary-color);
}

.header span, .header button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header button {
    border: none;
    background-color: transparent;
}

.header .menu-btn-wrapper {
  z-index: 10;
}

.header .searchMobile-wrapper {
  position: relative;
}

.header .search-btn-mobile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4rem;
  transition: all 0.5s;
  z-index: 10;
}

.header .search-btn-mobile-wrapper .searchFormMobile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.header .search-btn-mobile-wrapper .searchFormMobile input {
  border: 1px solid var(--side-bar-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 1.5rem;
  padding: 0px 10px;
}

.header .search-btn-mobile-wrapper .searchFormMobile input:focus {
  outline-color: blue;
  /* border: 1px solid var(--content-color); */
}

.header .search-btn-mobile-wrapper .searchFormMobile .searchBtnMobile {
  border: 1px solid var(--secondary-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 1.4rem;
}

/* this is for desktop and should be hidden */
.header .search-btn-wrapper {
  display: none;
}


.header .notifications-wrapper {
    position: relative;
}
.header .notifications-wrapper .counter-text {
    position: absolute;
    top: -18px;
    right: -15px;
    background-color: var(--counter-bg-color);
    color: var(--counter-color);
}

.header .messages-wrapper{
    position: relative;
}
.header .messages-wrapper .counter-text {
    position: absolute;
    top: -18px;
    right: -18px;
    background-color: var(--counter-bg-color);
    color: var(--counter-color);
}


.profile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.profile-wrapper .user-name {
}

.content {
  background-color: var(--content-color);
  color: var(--color-black);
  width: 100%;
  min-height: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  min-height: 100vh;
}

/* .content .head-content{
  width: 100%;
} */

.content .head-content .report-btn{
  display: none;
}

.cards-wrapper{
  flex-direction: column;
  flex: 0 0 100%;
  align-self: stretch;
}

.table-wrapper{
  margin: 1rem 0rem;
  width: 100%;
}

.list-items-table{
  padding: 0rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.list-items-table thead tr{
  display: none;
}

.list-items-table tr,
.list-items-table th,
.list-items-table td{
  padding: 1.5rem;
  border: none;
}

.list-items-table tr{
  display: block;
  border: 1px solid var(--color-black);
}

.list-items-table td{
  text-align: left;
  display: block;
  font-size: 1em;
}


.list-items-table td::before{
  content: attr(data-title);
  float: right;
}

.list-items-table tbody tr:nth-child(even){
  background-color: var(--top-bar-color);
  color: var(--color-black);
}

.item-operation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.0rem;
}

.list-items-table td .item-operation{
  align-items: flex-end;
}

.flex-mobile{
  flex-direction: column !important;
}

.parent-flex-4{
  flex-direction: column;
}


.show-form{
  width: 100%;
}

.width-mobile-100{
  width: 100%;
}
